<link rel="stylesheet" href="/css/profile.css">
<main class="grid_container">
    <%- include('./partials/nav.ejs')%>
    <div class="right_grid_div">
      <%- include('./partials/header.ejs')%>
      <div class="profile_container">
          <div class="profile_img_container">
              <form id="form" name="form" action="/profile_pic" method="post" enctype="multipart/form-data" >
                  <label class="img_edit_btn" for="uploaded_file">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABmJLR0QA/wD/AP+gvaeTAAABCElEQVRYhe2VPVLCQBxHf8sN+LgAHSfgEPQWNg6dV4BjGEUZ8TQeAKj4KC2oqHEcZXgWLjMOZE0Y/hsK82bSJfve/pOdSCUlEQC6wBT4BFbAHVAtQuyAB9KZA7XY8seAfE8SM6ANbDMCVtECfMR1RsSHtdABPaCeM2JsLX/yC09yRtzEkO/JihhYykNHbQo0ft17BXwBz0DFSj4MyEOTaAPOSh7a+Z+TsJJn7fyQvqV8cKJ8hOE7L+XFyn3A/YnyIRZHzcsrwOYiO/cBzYvJfUCnSHnaAq0cz71IunXO7c4NOIKfH0exYz8IeA2I34EEq6/dc7QYMJe0lrTw10zSUtJblJGX/Hu+Af318O5nP5aBAAAAAElFTkSuQmCC">
                  </label>
                <input onchange="form.submit()" type="file" name="uploaded_file" id="uploaded_file" hidden>
                <img class="profile_img_2" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png" alt="" />
                <!-- <i class="img_edit_btn"></i> -->
              </form>
            
          </div>
          <form class="profile_form" action="" method="post">
              <div class="input_div_flexed">
                  <label for="">first name</label>
                  <input type="text" value="user first name" name="" id="" placeholder="first name">
              </div>
              <div class="input_div_flexed">
                  <label for="">last name</label>
                <input type="text" value="user last name" name="" id="" placeholder="last name">
            </div>
              <div class="input_div_flexed">
                  <label for="">email</label>
                  <input type="email" value="user@gmail.com" name="" id="" placeholder="email">
              </div>
              <div class="input_div_flexed">
                  <label for="">phone number</label>
                  <input type="text" value="+2348118638617" name="" id="" placeholder="phone number">
              </div>
              <div class="input_div_flexed">
                  <label for="">address</label>
                  <input type="text" value="59 ICE road" name="" id="" placeholder="address">
              </div>
              <div class="input_div_flexed">
                <button type="submit">Save</button>
              </div>
              <!-- <input type="password" placeholder="password"> -->
          </form>
      </div>
    </div>
</main>