:root{
    --green01:#0aa118;
    --green02:#0e6618;
    --green03:#02a607;
    --green04:#25d366;
    --green05:#92eeda;
    --gray01:#ded8f5;
    --gray02:#b5c5cc;
    --gray03:#f5f5f5;
    --gray04:#86a8b5;
    --gray05:#607d8b;
    --gray06:#f9fbfa;
    --gray07:#ecf0f1;
}